adfset/pipeline/pipeline28.json
{
	"name": "pipeline28",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('var')",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item(),10)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var2",
					"value": {
						"value": "@activity('Filter1').output.value[0]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var3",
					"value": {
						"value": "@activity('Filter1').output.FilteredItemsCount",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var4",
					"value": {
						"value": "@activity('Filter1').output.ItemsCount",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var": {
				"type": "Array",
				"defaultValue": [
					10,
					20,
					10,
					30
				]
			},
			"var2": {
				"type": "Integer"
			},
			"var3": {
				"type": "Integer"
			},
			"var4": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-01T07:09:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}